@page
@model Coolbooks.Pages.AboutModel
@{
	<h2>Welcome to CoolBooks!</h2>
	<br />
	<p>Welcome to CoolBooks, a community-driven platform dedicated to fostering a love of reading and 
	supporting literacy initiatives around the world. While we don't sell any products, we believe that reading is a powerful tool 
	for personal growth, intellectual stimulation, and social impact. That's why we have created a platform 
	where book lovers can connect, share recommendations, and participate in various 
	reading-related activities.</p>
	<br />
	<p> At CoolBooks, we are passionate about promoting literacy and education. 
	We partner with non-profit organizations that work to improve literacy rates and access to books in underserved communities.
	We also organize book clubs, reading challenges, and other events to encourage people to read more and expand their horizons. 
	Our online community is open to anyone who shares our love of reading and 
	wants to be part of a movement that celebrates the power of books.</p>
	<br/>
	<p>Join us at CoolBooks and become part of a global community of readers who believe that books can change the world. 
	Together, we can make a difference by supporting literacy initiatives and spreading the joy of reading to people everywhere.</p>
}
