@page
@model IndexModel

<h1>All Cool Books</h1>

<table width="100%" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.AuthorId</td>
                <td>@book.GenreId</td>
            </tr>
        }

    </tbody>
</table>