@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At CoolBooks, we take your privacy seriously and are committed to protecting the personal 
    information that you provide to us. This Privacy Policy describes how we collect, use,
    and share your personal information, and your rights in relation to this information.</p>
    <br/>

<p> We collect personal information such as your name, email address, and payment information 
    when you purchase our products or services, create an account on our website, or contact us for support. 
    We use this information to provide you with our products or services, to communicate with you, and to improve our 
    offerings. We may also use your information to 
    send you marketing communications, but you can opt out of these communications at any time.

    We will only share your personal information with third parties as necessary to provide our products or services, 
    to comply with legal obligations, or to protect our rights or the rights of others. 
    We will retain your personal information for as long as necessary to fulfill the purposes outlined in 
    this Privacy Policy, 
    unless a longer retention period is required or permitted by law.
</p>
