html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.home-main-container {

/*border:solid;*/
border-color: red;
width: 70em;
}

.home-hero-container {
    border: solid;
    border-color: dodgerblue;
    width: 60em;
    height: 20em;
    margin-left: 5em;
}

.home-bookcard-container {
    display: flex;
    flex-direction: row;
    /*border: solid;*/
    border-color:blueviolet;
    width: 60em;
    height: 15em;
    margin-left: 5em;
}

.home-bookcard {
   
    border: solid;
    border-color:aquamarine;
    width: 20em;
    height: 15em;
}