html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.home-main-container {

/*border:solid;*/
border-color: red;
width: 70em;
}

.home-hero-container {
    border: solid;
    border-color: dodgerblue;
    width: 60em;
    height: 20em;
    margin-left: 5em;
}

.home-bookcard-container {
    display: flex;
    flex-direction: row;
   /* border: solid;
    border-color:blueviolet;*/
    width: 60em;
    height: 17em;
    margin-left: 5em;
    justify-content:space-around;
    
}

.home-bookcard {
    /*border: solid;
    border-color: aquamarine;*/
    width: 10em;
    height: 17em;
    /*background-color:orange;*/
    position: relative;
    overflow: hidden;
   
}

.overlay {
    position: absolute;
    bottom: 0;
    /*background: rgb(0, 0, 0);*/
    background: rgba(0, 0, 0, 0.8); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    
   
}

.home-bookcard:hover .overlay {
    opacity: 1;
  
}