@page
@model Coolbooks.Pages.ChoiceAwards.IndexModel
@{
}
<h1>Best books!</h1>

<h3>Top rated book: <b><i>@Model.Book.Title</i></b> with a stunning total reviews of <b><i>@Model.TotalReviews</i></b></h3>
