@page
@model Coolbooks.Pages.Account.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Userinfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Userinfo.Firstname" class="control-label"></label>
                <input asp-for="Userinfo.Firstname" class="form-control" />
                <span asp-validation-for="Userinfo.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userinfo.Lastname" class="control-label"></label>
                <input asp-for="Userinfo.Lastname" class="form-control" />
                <span asp-validation-for="Userinfo.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userinfo.Phone" class="control-label"></label>
                <input asp-for="Userinfo.Phone" class="form-control" />
                <span asp-validation-for="Userinfo.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userinfo.Address" class="control-label"></label>
                <input asp-for="Userinfo.Address" class="form-control" />
                <span asp-validation-for="Userinfo.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userinfo.Created" class="control-label"></label>
                <input asp-for="Userinfo.Created" class="form-control" />
                <span asp-validation-for="Userinfo.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userinfo.Role" class="control-label"></label>
                <input asp-for="Userinfo.Role" class="form-control" />
                <span asp-validation-for="Userinfo.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
