@page
@model Coolbooks.Pages.Reviews.IndexModel
@{
}

<a href="reviews/write?id=1">Review book 1</a>
<br />
<tbody>
<table class="table">

            <tr>
                <th>Review Title</th>
                <th>User</th>
                <th>Book</th>
            </tr>
   @foreach (var review in Model.Reviews)
        {
            <tr>
                <td>@review.Title</td>
                <td>@review.User.Userinfo.Firstname</td> @* TODO *@
                <td>@review.Book.Title</td> 
                @* TODO Review Read Page*@
                <td><a class="btn btn-primary float-lg-end" asp-route-id="" asp-page="">View</a></td>
            </tr>
            <br />
        }
</table>
</tbody>


