@page
@model Coolbooks.Pages.Reviews.WriteModel
@{
}

@*TODO user logged in? redirect or warn*@

<h1>Write a review for @Model.Book.Title</h1>
<form method="POST"> 
	<h3>Title</h3>
	<input type="text" name="title" />
	<br />
	<h3>Text</h3>
	<textarea name="text"></textarea>
	<br />
	<h3>Rating</h3>
	<select name="rating">
	<br />
		<option value="1">1 star  ★</option>
		<option value="2">2 stars ★★ </option>
		<option value="3">3 stars ★★★</option>
		<option value="4">4 stars ★★★★</option>
		<option value="5">5 stars ★★★★★</option>
	</select>
	<br />
	<br />
	<button type="submit">Submit</button>
</form>
<br />
	<img style="width: 20vw"src="@Model.Book.Imagepath" />
	<p>@Model.Book.Title by @Model.AuthorFullName <br />
		Review by [USERNAME]</p>
		@*TODO user*@

