@page
@model AddGenreModel

<h4>See current list of genres</h4>


<form method="post" asp-page-handler="SelectGenres">
    <label for="currentGenres">Browse genres:</label>
    <select id="currentGenres" name="SelectGenres">
        @foreach (var gen in Model.Genres.OrderBy(g => g.Name))
        {
            <option value="@gen.Name">@gen.Name</option>
		}
    </select>
    @*<button type="submit">Submit</button>*@
</form>
<br />
<br />

<h3>Add new genre</h3>
<form method="post">
    <div class="w-25">
        <label asp-for="Genre.Name"></label>
        <input asp-for="Genre.Name" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add Genre</button>
</form>

<table width="100%" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Genre Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model.Genres)
        {
            <tr>
                <td>@genre.Name <a class="btn btn-primary float-lg-end" asp-route-id="@genre.GenreId" asp-page="UpdateGenre">Edit</a></td>
            </tr>
        }
    </tbody>
</table>