@page
@model AddGenreModel


<h3>Add new genre</h3>
<br />
<form method="post">
    <div class="w-25">
        <label asp-for="Genre.Name"></label>
        <input asp-for="Genre.Name" class="form-control" />
    </div>
    <br />
    @*<button type="submit" class="btn btn-primary">Add Genre</button>*@
    <input type="submit" value="Add genre" class="btn btn-primary" asp-page-handler="Update" asp-page="AddGenre" />
</form>
<br />

<table width="100%" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Genre Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model.Genres)
        {
            <tr>
                <td>@genre.Name <a class="btn btn-primary float-lg-end" asp-route-id="@genre.GenreId" asp-page="UpdateGenre">Edit</a></td>
            </tr>
        }
    </tbody>
</table>